*{
    margin: 0;
    padding: 0;
}

.heading-name h2{
font-size: 50px;
padding: 20px 87px;
}
.calculate-box{
     /* display: "flex",
      "center",
     gap: "70px", 
     border:  "2px solid aqua" */
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 60px;
     /* border: 2px solid green; */
     margin-top: 60px;

}

.calculate-box .box-1{
    width: 400px;
    height: 155px;
    background-color: white;
    box-shadow: 4px 20px 40px #1c1c1e1a;
    border: 2px black;
    border-radius: 30px;
}
.calculate-box .box-1 img{
    width: 30%;
    height: 60%;
    margin-left: 242px;
    margin-top: -87px;
}

.calculate-box .box-1 h1{
    font-size: 22px;
    padding: 25px 46px;
    color: #b5b5b5;

}
.calculate-box .box-1 .amount{
    font-size: 30px;
    margin-left: 50px;

}

/* @media only screen and (max-width: 700px){ */

@media only screen and (min-width: 320px) and (max-width: 767px){

    .heading-name h2{
        width: 100vw;
        font-size: 2rem;
        margin-left: -4rem;
        }
        .calculate-box{

             display: inline-block;
                 margin-top: 1px;   
        }
        
        .calculate-box .box-1{
            width: 300px;
            height: 100px;
            background-color: white;
            box-shadow: 4px 20px 40px #1c1c1e1a;
            border: 2px black;
            border-radius: 30px;
            margin-top: 2rem;
            margin-left: 1rem;
        }
        .calculate-box .box-1 img{
            width: 20%;
            height: 40%;
            margin-left: 220px;
            margin-top: -100px;
        }
        
        .calculate-box .box-1 h1{
            font-size: 22px;
            padding: 25px 46px;
            color: #b5b5b5;
        
        }
        .calculate-box .box-1 .amount{
            font-size: 30px;
            margin-left: 50px;
            margin-top: -2rem;
        
        }
        

}