*{
    margin: 0;
    padding: 0;
}
 nav{
    background-color: white;
    box-shadow: rgba(28, 28, 30, 0.1) 0px 8px 32px;
    height: 70px;
    border-radius: 20px;
}
nav h1{
    font-size: 30px;
    padding: 14px 97px;  
}
@media only screen and (max-width: 700px){

    body{
        width: 100%;
    }
    nav{
         /* width: 100%; */
        width: 1200px;
        height: 170px;
        border-radius: 20px 50px;

    }
    nav h1{
        width: 100%;
  font-size: 60px;

    }
}