*{
    margin: 0;
    padding: 0;
}
ul li{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 240px;
    font-size: 27px;
    padding: 4px 5px;

}
ul li button{
    text-align: center;
    display: flex;
    width: 128px;
    height: 42px;
    font-size: 19px;
    background-color: #F5F5F5;
    padding: 8px 8px;
    border-radius: 15px;
}
ul li button:hover{
    background-color: white;
}
ul li button .btn-edit td{
    margin-right: -180;
}
a{
    font-size: 25px;
    padding: 5px 5px;
}

@media only screen and (max-width: 700px){
    
    body{
        width: 100%;
    }
   div h2{
        margin-top: 30px;
        font-size: 50px;
    }

    div ul {
    
        margin-top: 50px;
        width: 1160px;
        padding: 5px 10px;
        /* height: 400px; */
    }
    div ul li{
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    ul li button{
        width: 231px;
        font-size: 38px;
        height: 70px;
        text-align: center;
        align-items: center;
        /* background-color: rebeccapurple; */
    }
    ul li button .btn-edit{
width: 600px;
height: 80px;
font-size: 50px;
    }
     ul li td{
        font-size: 35px;
        width: 200px;

    }
     a{
        font-size: 60px;
    }
}