*{
    margin: 0;
    padding: 0;
}
ul li{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 240px;
    font-size: 27px;
    padding: 4px 5px;
    margin-top: 2rem;
    width: 93vw;

}
ul li button{
    text-align: center;
    display: flex;
    width: 128px;
    height: 42px;
    font-size: 19px;
    background-color: #F5F5F5;
    padding: 8px 8px;
    border-radius: 15px;
}
ul li button:hover{
    background-color: white;
}
ul li button .btn-edit td{
    margin-right: -180;
}
a{
    font-size: 25px;
    padding: 5px 5px;
}

@media only screen and (min-width: 320px) and (max-width: 767px){

    ul li{
        border: 1px solid black;
        display: inline-block;
        justify-content: center;
        gap: 240px;
        font-size: 27px;
        padding: 4px 5px;
        margin-top: 2rem;
        width: 85vw;
    
    }
    ul li button{
        text-align: center;
        display: inline-block;
        width: 128px;
        height: 42px;
        font-size: 19px;
        background-color: #F5F5F5;
        padding: 8px 8px;
        border-radius: 15px;
    }
    ul li button:hover{
        background-color: white;
    }
    ul li button .btn-edit td{
        margin-right: -180;
    }
    a{
        font-size: 20px;
        margin-top: 2rem;
    }
    
}